In [80]:
import pandas as pd
import numpy as np

In [111]:
data = pd.read_csv("./files_for_lab/csv_files/marketing_customer_analysis.csv")

In [112]:
# shape of the dataframe
data.shape

(10910, 26)

In [113]:
# dropping the weird column
try:
    data = data.drop(["Unnamed: 0"], axis = 1)
except:
    pass

In [114]:
# adding space between words in column name
data = data.rename(columns={'EmploymentStatus':'Employment Status'})

In [115]:
# lowercase for all column headers
cols = []
for i in data.columns:
    cols.append(i.lower())
data.columns = cols

In [116]:
# in case we wanna display the dataframe with all the columns
pd.set_option('display.max_columns', None)

In [117]:
# displaying only columns with numerical values
display(data.select_dtypes(np.number).columns)
print("Total column(s) with numerical values:",len(data.select_dtypes(np.number).columns))

Index(['customer lifetime value', 'income', 'monthly premium auto',
       'months since last claim', 'months since policy inception',
       'number of open complaints', 'number of policies',
       'total claim amount'],
      dtype='object')

Total column(s) with numerical values: 8

In [118]:
# displaying only columns with categorical values
display(data.select_dtypes(object).columns)
print("Total column(s) with categorical values:",len(data.select_dtypes(object).columns))

Index(['customer', 'state', 'response', 'coverage', 'education',
       'effective to date', 'employment status', 'gender', 'location code',
       'marital status', 'policy type', 'policy', 'renew offer type',
       'sales channel', 'vehicle class', 'vehicle size', 'vehicle type'],
      dtype='object')

Total column(s) with categorical values: 17

In [119]:
# counting nan
data.isna().sum()

customer                            0
state                             631
customer lifetime value             0
response                          631
coverage                            0
education                           0
effective to date                   0
employment status                   0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           633
months since policy inception       0
number of open complaints         633
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     622
vehicle size                      622
vehicle type                     5482
dtype: int64

In [121]:
# displaying percentage of the nan values in the dataframe format, bcs its cool
nulls = pd.DataFrame(round(data.isna().sum()/len(data),4)*100)
nulls = nulls.reset_index()
nulls.columns = ['header_name', 'nulls_in_%']
display(nulls)

                      header_name  nulls_in_%
0                        customer        0.00
1                           state        5.78
2         customer lifetime value        0.00
3                        response        5.78
4                        coverage        0.00
5                       education        0.00
6               effective to date        0.00
7               employment status        0.00
8                          gender        0.00
9                          income        0.00
10                  location code        0.00
11                 marital status        0.00
12           monthly premium auto        0.00
13        months since last claim        5.80
14  months since policy inception        0.00
15      number of open complaints        5.80
16             number of policies        0.00
17                    policy type        0.00
18                         policy        0.00
19               renew offer type        0.00
20                  sales channel        0.00
21             total claim amount        0.00
22                  vehicle class        5.70
23                   vehicle size        5.70
24                   vehicle type       50.25

In [124]:
# checking whether the nan are in the same row: response and state
# prints False if the rows dont match. prints nothing if the rows match

#saving index of the nan values to a variable
# the variables will then be matched
na_response = data[data['response'].isnull()].index.tolist()
na_state = data[data['state'].isnull()].index.tolist()
for i in range(631):
    if na_response[i] != na_state[i]:
        print(False)

In [123]:
# just counting unique values to find the mode, if theres any
display(data["response"].value_counts(dropna=False))
display(data["state"].value_counts(dropna=False))

No     8813
Yes    1466
NaN     631
Name: response, dtype: int64

California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
NaN            631
Name: state, dtype: int64

In [125]:
# replacing nan values with mode, because adding around 5% to the mode value wont change much
data['state'] = data['state'].fillna("California")
display(data['state'].value_counts(dropna = False))
data['response'] = data['response'].fillna("No")
display(data['response'].value_counts(dropna = False))

California    4183
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: state, dtype: int64

No     9444
Yes    1466
Name: response, dtype: int64

In [ ]:
# in case we want to just delete the rows. but this time i feel like keeping them. see reason above.
# data = data.drop(labels = data[data['response'].isnull()].index.tolist(), axis = 0)

In [108]:
# looking for duplicates
duplicate = data[data.duplicated()]
print(len(duplicate))

37

In [109]:
# dropping duplicates, then check again to make sure
data = data.drop_duplicates()
duplicate = data[data.duplicated()]
display(duplicate)
print(len(duplicate))

Empty DataFrame
Columns: [customer, state, customer lifetime value, response, coverage, education, effective to date, employment status, gender, income, location code, marital status, monthly premium auto, months since last claim, months since policy inception, number of open complaints, number of policies, policy type, policy, renew offer type, sales channel, total claim amount, vehicle class, vehicle size, vehicle type]
Index: []

0

In [126]:
# checking whether the nan are in the same row: response and state
# prints False if the rows dont match. prints nothing if the rows match

#saving index of the nan values to a variable
# the variables will then be matched
na_claim = data[data['months since last claim'].isnull()].index.tolist()
na_complaints = data[data['number of open complaints'].isnull()].index.tolist()
for i in range(631):
    if na_claim[i] != na_complaints[i]:
        print(False)

In [130]:
# quick numerical analysis
display(data[["months since last claim","number of open complaints"]].describe())
display(data[["months since last claim","number of open complaints"]].mode())

       months since last claim  number of open complaints
count             10277.000000               10277.000000
mean                 15.149071                   0.384256
std                  10.080349                   0.912457
min                   0.000000                   0.000000
25%                   6.000000                   0.000000
50%                  14.000000                   0.000000
75%                  23.000000                   0.000000
max                  35.000000                   5.000000

   months since last claim  number of open complaints
0                      3.0                        0.0

In [128]:
display(data["months since last claim"].value_counts(dropna=False))
display(data["number of open complaints"].value_counts(dropna=False))

NaN     633
3.0     426
6.0     394
1.0     386
7.0     378
4.0     373
2.0     368
5.0     355
0.0     354
10.0    346
16.0    333
11.0    331
15.0    323
13.0    320
8.0     315
12.0    307
17.0    299
14.0    299
9.0     277
19.0    276
23.0    276
25.0    269
21.0    267
18.0    257
20.0    254
22.0    246
24.0    237
29.0    234
28.0    227
31.0    221
26.0    211
27.0    208
30.0    201
34.0    199
33.0    198
35.0    157
32.0    155
Name: months since last claim, dtype: int64

0.0    8160
1.0    1145
NaN     633
2.0     414
3.0     324
4.0     166
5.0      68
Name: number of open complaints, dtype: int64

In [63]:
data.isna().sum()

customer                            0
state                               0
customer lifetime value             0
response                            0
coverage                            0
education                           0
effective to date                   0
employment status                   0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           582
months since policy inception       0
number of open complaints         582
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     579
vehicle size                      579
vehicle type                     5157
dtype: int64

### checking rows

In [65]:
na_claim = data[data['months since last claim'].isnull()].index.tolist()
na_complaints = data[data['number of open complaints'].isnull()].index.tolist()
for i in range(582):
    if na_claim[i] == na_complaints[i]:
        print(True)
    else:
        print(False)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [67]:
na_vehicle_class = data[data['vehicle class'].isnull()].index.tolist()
na_vehicle_size = data[data['vehicle size'].isnull()].index.tolist()
for i in range(579):
    if na_vehicle_class[i] == na_vehicle_size[i]:
        print(True)
    else:
        print(False)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [74]:
data["months since last claim"].value_counts(dropna=False)

NaN     582
3.0     401
6.0     381
1.0     364
7.0     354
4.0     353
2.0     348
5.0     331
0.0     329
10.0    323
16.0    318
11.0    316
15.0    303
8.0     297
13.0    295
12.0    289
17.0    283
14.0    280
19.0    263
9.0     263
23.0    261
25.0    253
21.0    250
20.0    246
18.0    244
22.0    231
29.0    222
24.0    221
28.0    209
26.0    202
31.0    201
27.0    193
30.0    192
33.0    188
34.0    185
35.0    148
32.0    140
Name: months since last claim, dtype: int64

In [76]:
data = data0
data

,customer,state,customer lifetime value,response,coverage,education,effective to date,employment status,gender,income,location code,marital status,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,7.0,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,3.0,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,34.0,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,10.0,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,Married,117,NaN,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,Suburban,Married,253,NaN,40,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,Urban,Married,65,7.0,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,Rural,Married,201,11.0,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,Urban,Divorced,158,0.0,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,Suburban,Single,101,31.0,1,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [77]:
data.isna().sum()

customer                            0
state                             631
customer lifetime value             0
response                          631
coverage                            0
education                           0
effective to date                   0
employment status                   0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           633
months since policy inception       0
number of open complaints         633
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     622
vehicle size                      622
vehicle type                     5482
dtype: int64

### deleting duplicates

In [78]:
duplicate = data[data.duplicated()]
display(duplicate)
print(len(duplicate))
data = data.drop_duplicates()
duplicate = data[data.duplicated()]
display(duplicate)
print(len(duplicate))

,customer,state,customer lifetime value,response,coverage,education,effective to date,employment status,gender,income,location code,marital status,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
1134,BV86143,NaN,21034.018150,NaN,Basic,High School or Below,2/23/11,Employed,F,26876,Urban,Married,66,12.0,53,0.0,2,Personal Auto,Personal L2,Offer4,Call Center,219.209762,Four-Door Car,Medsize,A
2799,YS94121,NaN,5645.396665,NaN,Basic,High School or Below,2/27/11,Employed,M,50366,Suburban,Divorced,72,9.0,5,0.0,9,Personal Auto,Personal L1,Offer1,Call Center,428.734656,Four-Door Car,Small,A
2805,BS34332,NaN,5557.934118,NaN,Basic,High School or Below,1/30/11,Employed,F,83576,Suburban,Married,69,35.0,72,0.0,5,Personal Auto,Personal L3,Offer3,Web,331.200000,Two-Door Car,Medsize,A
3590,GE63585,NaN,2420.711888,NaN,Basic,Bachelor,2/7/11,Employed,M,31710,Urban,Divorced,62,5.0,29,0.0,1,Corporate Auto,Corporate L3,Offer1,Call Center,199.551735,Two-Door Car,Medsize,NaN
3877,GU42671,Arizona,6106.941981,No,Extended,Bachelor,2/21/11,Medical Leave,F,16654,Suburban,Married,79,23.0,31,0.0,7,Personal Auto,Personal L3,Offer1,Branch,379.200000,NaN,NaN,A
4581,ID89933,Oregon,7255.577594,No,Extended,Doctor,1/9/11,Employed,F,39786,Urban,Married,91,NaN,91,NaN,9,Personal Auto,Personal L2,Offer1,Web,365.835977,NaN,NaN,NaN
4992,GS76685,California,10408.968650,Yes,Basic,High School or Below,2/18/11,Retired,M,20228,Suburban,Divorced,101,NaN,43,NaN,2,Corporate Auto,Corporate L3,Offer1,Branch,523.815839,SUV,Medsize,NaN
5734,AL78075,Oregon,3810.238281,No,Premium,High School or Below,2/13/11,Unemployed,M,0,Suburban,Single,108,7.0,57,0.0,1,Personal Auto,Personal L2,Offer2,Branch,777.600000,NaN,NaN,NaN
5863,OJ33945,Oregon,8692.636838,No,Basic,High School or Below,1/8/11,Employed,F,97768,Rural,Divorced,72,NaN,14,NaN,2,Personal Auto,Personal L1,Offer3,Agent,151.843731,Two-Door Car,Medsize,A
6068,EP64069,NaN,5138.244998,NaN,Basic,Bachelor,1/8/11,Employed,F,72264,Urban,Married,64,2.0,66,0.0,9,Corporate Auto,Corporate L3,Offer3,Web,272.649844,Four-Door Car,Medsize,NaN
6091,ID89933,Oregon,7255.577594,No,Extended,Doctor,1/9/11,Employed,F,39786,Urban,Married,91,2.0,91,1.0,9,Personal Auto,Personal L2,Offer1,Web,365.835977,NaN,NaN,A
6116,RB49468,NaN,7511.660568,NaN,Basic,Bachelor,1/20/11,Unemployed,F,0,Suburban,Single,70,9.0,96,0.0,2,Personal Auto,Personal L3,Offer1,Branch,340.201412,Four-Door Car,Medsize,NaN
6117,AM79057,NaN,2287.917290,NaN,Basic,Bachelor,2/18/11,Employed,F,69024,Urban,Married,61,27.0,32,5.0,1,Personal Auto,Personal L2,Offer2,Web,238.530745,Four-Door Car,Medsize,A
6315,GF70857,NaN,2933.960426,NaN,Extended,College,1/28/11,Unemployed,M,0,Rural,Married,83,2.0,62,0.0,1,Personal Auto,Personal L3,Offer2,Call Center,199.851201,Four-Door Car,Medsize,A
6410,NI17718,NaN,2150.178588,NaN,Basic,High School or Below,2/9/11,Unemployed,F,0,Suburban,Single,61,28.0,31,0.0,1,Personal Auto,Personal L3,Offer2,Web,292.800000,Four-Door Car,Medsize,NaN
6578,GM16780,Oregon,36057.537020,No,Extended,College,2/7/11,Employed,M,90330,Rural,Single,137,NaN,86,NaN,2,Corporate Auto,Corporate L3,Offer1,Call Center,192.085299,Sports Car,Medsize,A
6699,NJ46471,Oregon,8696.710700,No,Basic,Bachelor,1/4/11,Employed,F,56550,Rural,Married,73,22.0,41,3.0,2,Corporate Auto,Corporate L1,Offer3,Agent,162.775889,NaN,NaN,A
6743,ID89933,NaN,7255.577594,NaN,Extended,Doctor,1/9/11,Employed,F,39786,Urban,Married,91,NaN,91,NaN,9,Personal Auto,Personal L2,Offer1,Web,365.835977,NaN,NaN,NaN
6879,NL75739,Arizona,7590.050089,No,Basic,High School or Below,1/2/11,Disabled,M,10375,Suburban,Married,66,NaN,95,NaN,2,Personal Auto,Personal L3,Offer1,Branch,316.800000,Two-Door Car,Medsize,A
7533,BZ44726,NaN,16477.768430,NaN,Basic,High School or Below,2/26/11,Employed,F,49825,Suburban,Married,70,14.0,27,3.0,2,Corporate Auto,Corporate L3,Offer3,Agent,336.000000,Two-Door Car,Medsize,NaN
7764,DY22043,Oregon,5499.447223,No,Basic,High School or Below,1/28/11,Employed,F,88768,Suburban,Married,68,17.0,77,0.0,7,Personal Auto,Personal L3,Offer3,Branch,326.400000,NaN,NaN,NaN
7786,VK57280,NaN,4727.354548,NaN,Basic,Bachelor,1/3/11,Unemployed,M,0,Suburban,Single,72,23.0,7,0.0,3,Personal Auto,Personal L2,Offer2,Call Center,345.600000,Four-Door Car,Medsize,NaN
7796,PK26805,NaN,2810.957053,NaN,Basic,High School or Below,2/11/11,Employed,M,20371,Suburban,Married,71,19.0,14,1.0,1,Personal Auto,Personal L2,Offer4,Call Center,340.800000,Four-Door Car,Medsize,NaN
8509,HJ58678,Nevada,5418.152088,No,Basic,College,2/10/11,Employed,F,57587,Urban,Divorced,68,4.0,83,0.0,7,Personal Auto,Personal L2,Offer3,Agent,257.090387,NaN,NaN,NaN
8531,LH94971,Oregon,7057.888812,No,Extended,Bachelor,1/17/11,Employed,M,37840,Suburban,Married,90,31.0,9,0.0,4,Corporate Auto,Corporate L2,Offer2,Agent,432.000000,NaN,NaN,A
8680,NB57112,Oregon,8104.503269,No,Basic,Bachelor,2/22/11,Unemployed,F,0,Suburban,Single,117,24.0,8,1.0,6,Personal Auto,Personal L2,Offer2,Agent,842.400000,NaN,NaN,A
8827,BZ44726,NaN,16477.768430,NaN,Basic,High School or Below,2/26/11,Employed,F,49825,Suburban,Married,70,14.0,27,3.0,2,Corporate Auto,Corporate L3,Offer3,Agent,336.000000,Two-Door Car,Medsize,NaN
8847,EZ48093,NaN,2710.811423,NaN,Basic,Bachelor,2/9/11,Employed,M,31998,Suburban,Married,69,31.0,70,0.0,1,Corporate Auto,Corporate L3,Offer3,Branch,331.200000,Four-Door Car,Small,A
8891,VE98553,Oregon,4666.643522,No,Premium,Bachelor,2/28/11,Employed,M,60466,Suburban,Married,117,NaN,3,NaN,1,Personal Auto,Personal L3,Offer2,Agent,784.186389,Four-Door Car,Large,A
8926,NJ72300,Oregon,8009.028202,No,Basic,Bachelor,1/25/11,Unemployed,F,0,Suburban,Married,107,NaN,8,NaN,3,Personal Auto,Personal L3,Offer2,Web,740.963933,SUV,Small,A
9095,KB18303,NaN,8658.863813,NaN,Basic,College,2/7/11,Employed,M,62464,Urban,Married,109,23.0,45,0.0,4,Corporate Auto,Corporate L1,Offer2,Agent,400.181882,Sports Car,Medsize,NaN
9313,LD75023,Oregon,26346.085820,No,Extended,High School or Below,1/20/11,Employed,M,48268,Suburban,Divorced,223,28.0,26,0.0,2,Personal Auto,Personal L2,Offer1,Web,1605.600000,NaN,NaN,A
9432,ZB87718,Arizona,8714.922135,Yes,Basic,College,2/21/11,Unemployed,F,0,Suburban,Divorced,118,NaN,64,NaN,4,Personal Auto,Personal L1,Offer1,Agent,566.400000,SUV,Medsize,NaN
9943,FP86246,NaN,13211.010920,NaN,Premium,Bachelor,1/31/11,Employed,M,74656,Urban,Divorced,111,0.0,6,0.0,2,Personal Auto,Personal L2,Offer3,Call Center,504.365927,NaN,NaN,A
10006,IE40701,California,2877.354255,No,Basic,High School or Below,1/30/11,Employed,M,32807,Suburban,Married,73,10.0,10,0.0,1,Personal Auto,Personal L2,Offer2,Call Center,350.400000,NaN,NaN,A
10276,VA78645,California,2188.655055,No,Basic,College,1/9/11,Unemployed,M,0,Suburban,Single,67,29.0,49,1.0,1,Personal Auto,Personal L3,Offer3,Branch,321.600000,NaN,NaN,NaN
10499,VI66513,California,9688.334578,No,Extended,High School or Below,1/3/11,Employed,M,20009,Suburban,Single,87,NaN,86,NaN,2,Corporate Auto,Corporate L3,Offer2,Branch,987.122788,Four-Door Car,Small,A

37

Empty DataFrame
Columns: [customer, state, customer lifetime value, response, coverage, education, effective to date, employment status, gender, income, location code, marital status, monthly premium auto, months since last claim, months since policy inception, number of open complaints, number of policies, policy type, policy, renew offer type, sales channel, total claim amount, vehicle class, vehicle size, vehicle type]
Index: []

0

In [79]:
data.isna().sum()

customer                            0
state                             614
customer lifetime value             0
response                          614
coverage                            0
education                           0
effective to date                   0
employment status                   0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           623
months since policy inception       0
number of open complaints         623
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     608
vehicle size                      608
vehicle type                     5465
dtype: int64

In [ ]:
data

In [ ]:
#data1['state'] = data1['state'].fillna('CA')

In [73]:
# restore the dropped NaN values (rows) from state and response
# replace NaN in state with most frequent state
# replace NaN in response with ??? (median)

# replace NaN in months since last claim with the average of that column
# replace NaN in number of open complaints with 0.0 (the median)

In [ ]:
#data1['state'] = data1['state'].fillna('CA')