In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("./files_for_lab/csv_files/marketing_customer_analysis.csv")
data

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

### shape data

In [4]:
data.shape

(10910, 26)

### column names

In [5]:
data.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

### dropping column

In [6]:
data = data.drop(["Unnamed: 0"], axis = 1)

In [7]:
data

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

### renaming

In [8]:
data =  data.rename(columns={'EmploymentStatus':'Employment Status'})
data

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,Employment Status,Gender,Income,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

### changing to all lower

In [9]:
cols = []
for i in data.columns:
    cols.append(i.lower())
data.columns = cols
data

,customer,state,customer lifetime value,response,coverage,education,effective to date,employment status,gender,income,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

### showing datatypes for every column

In [10]:
data.dtypes

customer                          object
state                             object
customer lifetime value          float64
response                          object
coverage                          object
education                         object
effective to date                 object
employment status                 object
gender                            object
income                             int64
location code                     object
marital status                    object
monthly premium auto               int64
months since last claim          float64
months since policy inception      int64
number of open complaints        float64
number of policies                 int64
policy type                       object
policy                            object
renew offer type                  object
sales channel                     object
total claim amount               float64
vehicle class                     object
vehicle size                      object
vehicle type                      object
dtype: object

In [11]:
pd.set_option('display.max_columns', None)

In [12]:
# numerical

In [13]:
display(data.select_dtypes(np.number).columns)
display(len(data.select_dtypes(np.number).columns))

Index(['customer lifetime value', 'income', 'monthly premium auto',
       'months since last claim', 'months since policy inception',
       'number of open complaints', 'number of policies',
       'total claim amount'],
      dtype='object')

8

In [14]:
# object

In [15]:
display(data.select_dtypes(object).columns)
display(len(data.select_dtypes(object).columns))

Index(['customer', 'state', 'response', 'coverage', 'education',
       'effective to date', 'employment status', 'gender', 'location code',
       'marital status', 'policy type', 'policy', 'renew offer type',
       'sales channel', 'vehicle class', 'vehicle size', 'vehicle type'],
      dtype='object')

17

In [16]:
data[["state","response","months since last claim","number of open complaints", "vehicle class", "vehicle size","vehicle type"]]

,state,response,months since last claim,number of open complaints,vehicle class,vehicle size,vehicle type
0,Arizona,No,7.0,0.0,Four-Door Car,Medsize,NaN
1,California,No,3.0,0.0,Four-Door Car,Medsize,NaN
2,Washington,No,34.0,0.0,SUV,Medsize,A
3,Oregon,Yes,10.0,0.0,Four-Door Car,Medsize,A
4,Oregon,No,NaN,NaN,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...
10905,Nevada,No,NaN,NaN,Luxury Car,Medsize,A
10906,Oregon,No,7.0,0.0,Four-Door Car,Medsize,A
10907,Arizona,No,11.0,0.0,Luxury SUV,Medsize,NaN
10908,California,No,0.0,4.0,SUV,Medsize,A
10909,NaN,NaN,31.0,0.0,SUV,Medsize,NaN

In [17]:
data0 = data.copy()

In [18]:
data0[["state","response","months since last claim","number of open complaints", "vehicle class", "vehicle size","vehicle type"]]

,state,response,months since last claim,number of open complaints,vehicle class,vehicle size,vehicle type
0,Arizona,No,7.0,0.0,Four-Door Car,Medsize,NaN
1,California,No,3.0,0.0,Four-Door Car,Medsize,NaN
2,Washington,No,34.0,0.0,SUV,Medsize,A
3,Oregon,Yes,10.0,0.0,Four-Door Car,Medsize,A
4,Oregon,No,NaN,NaN,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...
10905,Nevada,No,NaN,NaN,Luxury Car,Medsize,A
10906,Oregon,No,7.0,0.0,Four-Door Car,Medsize,A
10907,Arizona,No,11.0,0.0,Luxury SUV,Medsize,NaN
10908,California,No,0.0,4.0,SUV,Medsize,A
10909,NaN,NaN,31.0,0.0,SUV,Medsize,NaN

In [19]:
data.isna().sum()

customer                            0
state                             631
customer lifetime value             0
response                          631
coverage                            0
education                           0
effective to date                   0
employment status                   0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           633
months since policy inception       0
number of open complaints         633
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     622
vehicle size                      622
vehicle type                     5482
dtype: int64

In [20]:
data[data['response'].isna()]

,customer,state,customer lifetime value,response,coverage,education,effective to date,employment status,gender,income,location code,marital status,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
5,HO81102,NaN,4745.181764,NaN,Basic,High School or Below,2/14/11,Employed,M,50549,Suburban,Divorced,61,2.0,73,0.0,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize,A
11,GE63585,NaN,2420.711888,NaN,Basic,Bachelor,2/7/11,Employed,M,31710,Urban,Divorced,62,5.0,29,0.0,1,Corporate Auto,Corporate L3,Offer1,Call Center,199.551735,Two-Door Car,Medsize,NaN
58,BR69566,NaN,14019.833140,NaN,Basic,College,2/18/11,Employed,M,31739,Suburban,Divorced,71,10.0,29,0.0,2,Personal Auto,Personal L3,Offer4,Call Center,469.882367,Two-Door Car,Small,NaN
62,UF44021,NaN,2108.493744,NaN,Basic,Bachelor,1/2/11,Unemployed,M,0,Suburban,Single,61,8.0,91,0.0,1,Personal Auto,Personal L2,Offer1,Agent,351.856810,Two-Door Car,Medsize,NaN
126,TE60343,NaN,4716.264294,NaN,Basic,High School or Below,2/25/11,Employed,M,25746,Suburban,Married,61,0.0,84,1.0,3,Corporate Auto,Corporate L3,Offer2,Agent,292.800000,Four-Door Car,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10837,IJ40048,NaN,4978.950257,NaN,Basic,Bachelor,1/31/11,Employed,M,28695,Urban,Single,64,17.0,87,0.0,4,Corporate Auto,Corporate L2,Offer1,Branch,221.241837,Four-Door Car,Medsize,A
10849,SO38188,NaN,5308.617246,NaN,Extended,Bachelor,1/24/11,Employed,M,40178,Suburban,Married,136,7.0,13,0.0,1,Special Auto,Special L2,Offer1,Agent,652.800000,SUV,Medsize,NaN
10874,PD52748,NaN,10036.536340,NaN,Extended,High School or Below,2/12/11,Unemployed,F,0,Suburban,Single,134,15.0,92,1.0,8,Personal Auto,Personal L3,Offer1,Call Center,1353.289060,SUV,Medsize,NaN
10894,EX63393,NaN,6314.492009,NaN,Extended,Master,2/27/11,Employed,F,66947,Suburban,Married,78,13.0,12,0.0,6,Personal Auto,Personal L1,Offer3,Agent,374.400000,Four-Door Car,Small,NaN
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,Suburban,Single,101,31.0,1,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [21]:
data["response"].value_counts()

No     8813
Yes    1466
Name: response, dtype: int64

In [22]:
data["response"].unique()

array(['No', 'Yes', nan], dtype=object)

In [23]:
data["response"].sort_values(na_position="first")

5       NaN
11      NaN
58      NaN
62      NaN
126     NaN
       ...
6822    Yes
3561    Yes
5896    Yes
7132    Yes
951     Yes
Name: response, Length: 10910, dtype: object

In [24]:
na_response = data[data['response'].isnull()].index.tolist()

In [25]:
na_response

[5,
 11,
 58,
 62,
 126,
 131,
 155,
 168,
 169,
 190,
 226,
 251,
 270,
 304,
 305,
 321,
 323,
 329,
 334,
 347,
 385,
 403,
 404,
 430,
 455,
 475,
 478,
 491,
 574,
 595,
 597,
 605,
 648,
 662,
 670,
 686,
 690,
 720,
 725,
 726,
 729,
 732,
 740,
 744,
 745,
 764,
 781,
 785,
 794,
 796,
 814,
 857,
 859,
 878,
 890,
 895,
 900,
 906,
 908,
 909,
 918,
 921,
 931,
 943,
 949,
 966,
 973,
 974,
 1018,
 1042,
 1070,
 1088,
 1103,
 1112,
 1131,
 1133,
 1134,
 1156,
 1168,
 1175,
 1187,
 1197,
 1203,
 1210,
 1215,
 1227,
 1236,
 1255,
 1259,
 1264,
 1284,
 1295,
 1313,
 1323,
 1325,
 1334,
 1344,
 1357,
 1367,
 1426,
 1428,
 1433,
 1455,
 1496,
 1560,
 1565,
 1574,
 1660,
 1661,
 1667,
 1689,
 1708,
 1716,
 1732,
 1741,
 1767,
 1770,
 1778,
 1781,
 1787,
 1801,
 1871,
 1873,
 1877,
 1899,
 1911,
 1928,
 1931,
 1951,
 1983,
 2001,
 2025,
 2055,
 2060,
 2062,
 2090,
 2106,
 2113,
 2133,
 2136,
 2173,
 2174,
 2206,
 2207,
 2220,
 2223,
 2227,
 2231,
 2243,
 2247,
 2270,
 2280,
 2292,
 2372,
 2405,
 2408,
 2410,
 2411,
 2431,
 2454,
 2460,
 2463,
 2464,
 2496,
 2535,
 2539,
 2543,
 2553,
 2642,
 2665,
 2677,
 2681,
 2729,
 2747,
 2755,
 2756,
 2766,
 2799,
 2801,
 2805,
 2816,
 2848,
 2849,
 2856,
 2868,
 2870,
 2874,
 2879,
 2885,
 2913,
 2920,
 2942,
 2959,
 2969,
 3017,
 3025,
 3039,
 3053,
 3058,
 3062,
 3087,
 3091,
 3131,
 3134,
 3162,
 3177,
 3203,
 3250,
 3262,
 3286,
 3340,
 3343,
 3368,
 3389,
 3398,
 3421,
 3435,
 3437,
 3441,
 3458,
 3461,
 3484,
 3499,
 3500,
 3529,
 3537,
 3547,
 3549,
 3559,
 3565,
 3568,
 3586,
 3588,
 3590,
 3622,
 3630,
 3658,
 3662,
 3667,
 3670,
 3713,
 3714,
 3715,
 3729,
 3744,
 3765,
 3814,
 3857,
 3907,
 3935,
 3944,
 3960,
 3964,
 3967,
 3968,
 3979,
 3980,
 3991,
 4022,
 4042,
 4045,
 4070,
 4073,
 4076,
 4090,
 4095,
 4097,
 4109,
 4122,
 4123,
 4164,
 4168,
 4182,
 4184,
 4195,
 4196,
 4197,
 4209,
 4218,
 4230,
 4258,
 4269,
 4274,
 4337,
 4339,
 4379,
 4380,
 4401,
 4426,
 4443,
 4451,
 4461,
 4524,
 4547,
 4556,
 4560,
 4662,
 4682,
 4690,
 4714,
 4727,
 4742,
 4754,
 4757,
 4771,
 4789,
 4798,
 4807,
 4808,
 4817,
 4863,
 4895,
 4952,
 4959,
 4995,
 5029,
 5032,
 5070,
 5082,
 5083,
 5108,
 5116,
 5118,
 5200,
 5209,
 5241,
 5252,
 5259,
 5294,
 5344,
 5355,
 5358,
 5368,
 5376,
 5396,
 5409,
 5417,
 5418,
 5420,
 5427,
 5428,
 5431,
 5434,
 5442,
 5449,
 5460,
 5497,
 5503,
 5565,
 5574,
 5586,
 5588,
 5607,
 5619,
 5640,
 5647,
 5665,
 5682,
 5751,
 5761,
 5776,
 5791,
 5803,
 5804,
 5862,
 5871,
 5886,
 5889,
 5893,
 5898,
 5928,
 5930,
 5934,
 5942,
 5944,
 5973,
 5980,
 5996,
 6000,
 6010,
 6015,
 6043,
 6068,
 6114,
 6116,
 6117,
 6124,
 6143,
 6152,
 6183,
 6224,
 6232,
 6244,
 6248,
 6253,
 6255,
 6266,
 6284,
 6315,
 6330,
 6351,
 6361,
 6403,
 6410,
 6438,
 6448,
 6449,
 6470,
 6475,
 6480,
 6498,
 6565,
 6588,
 6637,
 6674,
 6690,
 6694,
 6731,
 6741,
 6743,
 6768,
 6780,
 6785,
 6790,
 6791,
 6810,
 6825,
 6829,
 6841,
 6846,
 6876,
 6894,
 6898,
 6908,
 6935,
 6940,
 6976,
 6990,
 7005,
 7009,
 7022,
 7026,
 7047,
 7060,
 7070,
 7086,
 7113,
 7138,
 7148,
 7175,
 7205,
 7222,
 7223,
 7256,
 7261,
 7270,
 7279,
 7315,
 7318,
 7348,
 7397,
 7400,
 7423,
 7438,
 7457,
 7490,
 7507,
 7524,
 7533,
 7539,
 7549,
 7561,
 7579,
 7587,
 7589,
 7654,
 7690,
 7720,
 7736,
 7786,
 7794,
 7796,
 7862,
 7874,
 7882,
 7895,
 7909,
 7918,
 7983,
 8007,
 8041,
 8079,
 8084,
 8124,
 8128,
 8138,
 8202,
 8216,
 8223,
 8237,
 8246,
 8247,
 8262,
 8263,
 8271,
 8285,
 8365,
 8395,
 8422,
 8494,
 8522,
 8539,
 8559,
 8590,
 8591,
 8684,
 8695,
 8707,
 8783,
 8787,
 8803,
 8827,
 8847,
 8851,
 8883,
 8972,
 8985,
 9020,
 9095,
 9102,
 9116,
 9118,
 9125,
 9138,
 9186,
 9197,
 9204,
 9235,
 9255,
 9273,
 9301,
 9311,
 9327,
 9354,
 9382,
 9395,
 9406,
 9408,
 9425,
 9428,
 9479,
 9499,
 9503,
 9559,
 9593,
 9597,
 9602,
 9609,
 9616,
 9618,
 9656,
 9670,
 9687,
 9721,
 9734,
 9764,
 9799,
 9820,
 9822,
 9825,
 9839,
 9840,
 9842,
 9848,
 9909,
 9926,
 9931,
 9943,
 9948,
 9966,
 9989,
 10011,
 10034,
 10036,
 10038,
 10051,
 10071,
 10096,
 10101,
 10130,
 10143,
 10152,
 10169,
 10209,
 10245,
 10282,
 10301,
 10318,
 10336,
 10339,
 10347,
 10349,
 10429,
 10437,
 10440,
 10456,
 10457,
 10518,
 10532,
 10543,
 10588,
 10594,
 10604,
 10635,
 10645,
 10692,
 10706,
 10734,
 10745,
 10746,
 10775,
 10799,
 10812,
 10815,
 10819,
 10827,
 10837,
 10849,
 10874,
 10894,
 10909]

In [26]:
na_state = data[data['state'].isnull()].index.tolist()

In [27]:
na_mslc = data[data['months since last claim'].isnull()].index.tolist()

In [28]:
for i in range(631):
    if na_response[i] == na_state[i]:
        print(True)
    else:
        print(False)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [29]:
data['state'].value_counts(dropna = False)

California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
NaN            631
Name: state, dtype: int64

### checking duplicates

In [30]:
duplicate = data[data.duplicated()]
display(duplicate)
print(len(duplicate))

,customer,state,customer lifetime value,response,coverage,education,effective to date,employment status,gender,income,location code,marital status,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
1134,BV86143,NaN,21034.018150,NaN,Basic,High School or Below,2/23/11,Employed,F,26876,Urban,Married,66,12.0,53,0.0,2,Personal Auto,Personal L2,Offer4,Call Center,219.209762,Four-Door Car,Medsize,A
2799,YS94121,NaN,5645.396665,NaN,Basic,High School or Below,2/27/11,Employed,M,50366,Suburban,Divorced,72,9.0,5,0.0,9,Personal Auto,Personal L1,Offer1,Call Center,428.734656,Four-Door Car,Small,A
2805,BS34332,NaN,5557.934118,NaN,Basic,High School or Below,1/30/11,Employed,F,83576,Suburban,Married,69,35.0,72,0.0,5,Personal Auto,Personal L3,Offer3,Web,331.200000,Two-Door Car,Medsize,A
3590,GE63585,NaN,2420.711888,NaN,Basic,Bachelor,2/7/11,Employed,M,31710,Urban,Divorced,62,5.0,29,0.0,1,Corporate Auto,Corporate L3,Offer1,Call Center,199.551735,Two-Door Car,Medsize,NaN
3877,GU42671,Arizona,6106.941981,No,Extended,Bachelor,2/21/11,Medical Leave,F,16654,Suburban,Married,79,23.0,31,0.0,7,Personal Auto,Personal L3,Offer1,Branch,379.200000,NaN,NaN,A
4581,ID89933,Oregon,7255.577594,No,Extended,Doctor,1/9/11,Employed,F,39786,Urban,Married,91,NaN,91,NaN,9,Personal Auto,Personal L2,Offer1,Web,365.835977,NaN,NaN,NaN
4992,GS76685,California,10408.968650,Yes,Basic,High School or Below,2/18/11,Retired,M,20228,Suburban,Divorced,101,NaN,43,NaN,2,Corporate Auto,Corporate L3,Offer1,Branch,523.815839,SUV,Medsize,NaN
5734,AL78075,Oregon,3810.238281,No,Premium,High School or Below,2/13/11,Unemployed,M,0,Suburban,Single,108,7.0,57,0.0,1,Personal Auto,Personal L2,Offer2,Branch,777.600000,NaN,NaN,NaN
5863,OJ33945,Oregon,8692.636838,No,Basic,High School or Below,1/8/11,Employed,F,97768,Rural,Divorced,72,NaN,14,NaN,2,Personal Auto,Personal L1,Offer3,Agent,151.843731,Two-Door Car,Medsize,A
6068,EP64069,NaN,5138.244998,NaN,Basic,Bachelor,1/8/11,Employed,F,72264,Urban,Married,64,2.0,66,0.0,9,Corporate Auto,Corporate L3,Offer3,Web,272.649844,Four-Door Car,Medsize,NaN
6091,ID89933,Oregon,7255.577594,No,Extended,Doctor,1/9/11,Employed,F,39786,Urban,Married,91,2.0,91,1.0,9,Personal Auto,Personal L2,Offer1,Web,365.835977,NaN,NaN,A
6116,RB49468,NaN,7511.660568,NaN,Basic,Bachelor,1/20/11,Unemployed,F,0,Suburban,Single,70,9.0,96,0.0,2,Personal Auto,Personal L3,Offer1,Branch,340.201412,Four-Door Car,Medsize,NaN
6117,AM79057,NaN,2287.917290,NaN,Basic,Bachelor,2/18/11,Employed,F,69024,Urban,Married,61,27.0,32,5.0,1,Personal Auto,Personal L2,Offer2,Web,238.530745,Four-Door Car,Medsize,A
6315,GF70857,NaN,2933.960426,NaN,Extended,College,1/28/11,Unemployed,M,0,Rural,Married,83,2.0,62,0.0,1,Personal Auto,Personal L3,Offer2,Call Center,199.851201,Four-Door Car,Medsize,A
6410,NI17718,NaN,2150.178588,NaN,Basic,High School or Below,2/9/11,Unemployed,F,0,Suburban,Single,61,28.0,31,0.0,1,Personal Auto,Personal L3,Offer2,Web,292.800000,Four-Door Car,Medsize,NaN
6578,GM16780,Oregon,36057.537020,No,Extended,College,2/7/11,Employed,M,90330,Rural,Single,137,NaN,86,NaN,2,Corporate Auto,Corporate L3,Offer1,Call Center,192.085299,Sports Car,Medsize,A
6699,NJ46471,Oregon,8696.710700,No,Basic,Bachelor,1/4/11,Employed,F,56550,Rural,Married,73,22.0,41,3.0,2,Corporate Auto,Corporate L1,Offer3,Agent,162.775889,NaN,NaN,A
6743,ID89933,NaN,7255.577594,NaN,Extended,Doctor,1/9/11,Employed,F,39786,Urban,Married,91,NaN,91,NaN,9,Personal Auto,Personal L2,Offer1,Web,365.835977,NaN,NaN,NaN
6879,NL75739,Arizona,7590.050089,No,Basic,High School or Below,1/2/11,Disabled,M,10375,Suburban,Married,66,NaN,95,NaN,2,Personal Auto,Personal L3,Offer1,Branch,316.800000,Two-Door Car,Medsize,A
7533,BZ44726,NaN,16477.768430,NaN,Basic,High School or Below,2/26/11,Employed,F,49825,Suburban,Married,70,14.0,27,3.0,2,Corporate Auto,Corporate L3,Offer3,Agent,336.000000,Two-Door Car,Medsize,NaN
7764,DY22043,Oregon,5499.447223,No,Basic,High School or Below,1/28/11,Employed,F,88768,Suburban,Married,68,17.0,77,0.0,7,Personal Auto,Personal L3,Offer3,Branch,326.400000,NaN,NaN,NaN
7786,VK57280,NaN,4727.354548,NaN,Basic,Bachelor,1/3/11,Unemployed,M,0,Suburban,Single,72,23.0,7,0.0,3,Personal Auto,Personal L2,Offer2,Call Center,345.600000,Four-Door Car,Medsize,NaN
7796,PK26805,NaN,2810.957053,NaN,Basic,High School or Below,2/11/11,Employed,M,20371,Suburban,Married,71,19.0,14,1.0,1,Personal Auto,Personal L2,Offer4,Call Center,340.800000,Four-Door Car,Medsize,NaN
8509,HJ58678,Nevada,5418.152088,No,Basic,College,2/10/11,Employed,F,57587,Urban,Divorced,68,4.0,83,0.0,7,Personal Auto,Personal L2,Offer3,Agent,257.090387,NaN,NaN,NaN
8531,LH94971,Oregon,7057.888812,No,Extended,Bachelor,1/17/11,Employed,M,37840,Suburban,Married,90,31.0,9,0.0,4,Corporate Auto,Corporate L2,Offer2,Agent,432.000000,NaN,NaN,A
8680,NB57112,Oregon,8104.503269,No,Basic,Bachelor,2/22/11,Unemployed,F,0,Suburban,Single,117,24.0,8,1.0,6,Personal Auto,Personal L2,Offer2,Agent,842.400000,NaN,NaN,A
8827,BZ44726,NaN,16477.768430,NaN,Basic,High School or Below,2/26/11,Employed,F,49825,Suburban,Married,70,14.0,27,3.0,2,Corporate Auto,Corporate L3,Offer3,Agent,336.000000,Two-Door Car,Medsize,NaN
8847,EZ48093,NaN,2710.811423,NaN,Basic,Bachelor,2/9/11,Employed,M,31998,Suburban,Married,69,31.0,70,0.0,1,Corporate Auto,Corporate L3,Offer3,Branch,331.200000,Four-Door Car,Small,A
8891,VE98553,Oregon,4666.643522,No,Premium,Bachelor,2/28/11,Employed,M,60466,Suburban,Married,117,NaN,3,NaN,1,Personal Auto,Personal L3,Offer2,Agent,784.186389,Four-Door Car,Large,A
8926,NJ72300,Oregon,8009.028202,No,Basic,Bachelor,1/25/11,Unemployed,F,0,Suburban,Married,107,NaN,8,NaN,3,Personal Auto,Personal L3,Offer2,Web,740.963933,SUV,Small,A
9095,KB18303,NaN,8658.863813,NaN,Basic,College,2/7/11,Employed,M,62464,Urban,Married,109,23.0,45,0.0,4,Corporate Auto,Corporate L1,Offer2,Agent,400.181882,Sports Car,Medsize,NaN
9313,LD75023,Oregon,26346.085820,No,Extended,High School or Below,1/20/11,Employed,M,48268,Suburban,Divorced,223,28.0,26,0.0,2,Personal Auto,Personal L2,Offer1,Web,1605.600000,NaN,NaN,A
9432,ZB87718,Arizona,8714.922135,Yes,Basic,College,2/21/11,Unemployed,F,0,Suburban,Divorced,118,NaN,64,NaN,4,Personal Auto,Personal L1,Offer1,Agent,566.400000,SUV,Medsize,NaN
9943,FP86246,NaN,13211.010920,NaN,Premium,Bachelor,1/31/11,Employed,M,74656,Urban,Divorced,111,0.0,6,0.0,2,Personal Auto,Personal L2,Offer3,Call Center,504.365927,NaN,NaN,A
10006,IE40701,California,2877.354255,No,Basic,High School or Below,1/30/11,Employed,M,32807,Suburban,Married,73,10.0,10,0.0,1,Personal Auto,Personal L2,Offer2,Call Center,350.400000,NaN,NaN,A
10276,VA78645,California,2188.655055,No,Basic,College,1/9/11,Unemployed,M,0,Suburban,Single,67,29.0,49,1.0,1,Personal Auto,Personal L3,Offer3,Branch,321.600000,NaN,NaN,NaN
10499,VI66513,California,9688.334578,No,Extended,High School or Below,1/3/11,Employed,M,20009,Suburban,Single,87,NaN,86,NaN,2,Corporate Auto,Corporate L3,Offer2,Branch,987.122788,Four-Door Car,Small,A

37

### dropping duplicates

In [31]:
duplicate = data[data.duplicated()]
display(duplicate)
print(len(duplicate))
data = data.drop_duplicates()
duplicate = data[data.duplicated()]
display(duplicate)
print(len(duplicate))

,customer,state,customer lifetime value,response,coverage,education,effective to date,employment status,gender,income,location code,marital status,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
1134,BV86143,NaN,21034.018150,NaN,Basic,High School or Below,2/23/11,Employed,F,26876,Urban,Married,66,12.0,53,0.0,2,Personal Auto,Personal L2,Offer4,Call Center,219.209762,Four-Door Car,Medsize,A
2799,YS94121,NaN,5645.396665,NaN,Basic,High School or Below,2/27/11,Employed,M,50366,Suburban,Divorced,72,9.0,5,0.0,9,Personal Auto,Personal L1,Offer1,Call Center,428.734656,Four-Door Car,Small,A
2805,BS34332,NaN,5557.934118,NaN,Basic,High School or Below,1/30/11,Employed,F,83576,Suburban,Married,69,35.0,72,0.0,5,Personal Auto,Personal L3,Offer3,Web,331.200000,Two-Door Car,Medsize,A
3590,GE63585,NaN,2420.711888,NaN,Basic,Bachelor,2/7/11,Employed,M,31710,Urban,Divorced,62,5.0,29,0.0,1,Corporate Auto,Corporate L3,Offer1,Call Center,199.551735,Two-Door Car,Medsize,NaN
3877,GU42671,Arizona,6106.941981,No,Extended,Bachelor,2/21/11,Medical Leave,F,16654,Suburban,Married,79,23.0,31,0.0,7,Personal Auto,Personal L3,Offer1,Branch,379.200000,NaN,NaN,A
4581,ID89933,Oregon,7255.577594,No,Extended,Doctor,1/9/11,Employed,F,39786,Urban,Married,91,NaN,91,NaN,9,Personal Auto,Personal L2,Offer1,Web,365.835977,NaN,NaN,NaN
4992,GS76685,California,10408.968650,Yes,Basic,High School or Below,2/18/11,Retired,M,20228,Suburban,Divorced,101,NaN,43,NaN,2,Corporate Auto,Corporate L3,Offer1,Branch,523.815839,SUV,Medsize,NaN
5734,AL78075,Oregon,3810.238281,No,Premium,High School or Below,2/13/11,Unemployed,M,0,Suburban,Single,108,7.0,57,0.0,1,Personal Auto,Personal L2,Offer2,Branch,777.600000,NaN,NaN,NaN
5863,OJ33945,Oregon,8692.636838,No,Basic,High School or Below,1/8/11,Employed,F,97768,Rural,Divorced,72,NaN,14,NaN,2,Personal Auto,Personal L1,Offer3,Agent,151.843731,Two-Door Car,Medsize,A
6068,EP64069,NaN,5138.244998,NaN,Basic,Bachelor,1/8/11,Employed,F,72264,Urban,Married,64,2.0,66,0.0,9,Corporate Auto,Corporate L3,Offer3,Web,272.649844,Four-Door Car,Medsize,NaN
6091,ID89933,Oregon,7255.577594,No,Extended,Doctor,1/9/11,Employed,F,39786,Urban,Married,91,2.0,91,1.0,9,Personal Auto,Personal L2,Offer1,Web,365.835977,NaN,NaN,A
6116,RB49468,NaN,7511.660568,NaN,Basic,Bachelor,1/20/11,Unemployed,F,0,Suburban,Single,70,9.0,96,0.0,2,Personal Auto,Personal L3,Offer1,Branch,340.201412,Four-Door Car,Medsize,NaN
6117,AM79057,NaN,2287.917290,NaN,Basic,Bachelor,2/18/11,Employed,F,69024,Urban,Married,61,27.0,32,5.0,1,Personal Auto,Personal L2,Offer2,Web,238.530745,Four-Door Car,Medsize,A
6315,GF70857,NaN,2933.960426,NaN,Extended,College,1/28/11,Unemployed,M,0,Rural,Married,83,2.0,62,0.0,1,Personal Auto,Personal L3,Offer2,Call Center,199.851201,Four-Door Car,Medsize,A
6410,NI17718,NaN,2150.178588,NaN,Basic,High School or Below,2/9/11,Unemployed,F,0,Suburban,Single,61,28.0,31,0.0,1,Personal Auto,Personal L3,Offer2,Web,292.800000,Four-Door Car,Medsize,NaN
6578,GM16780,Oregon,36057.537020,No,Extended,College,2/7/11,Employed,M,90330,Rural,Single,137,NaN,86,NaN,2,Corporate Auto,Corporate L3,Offer1,Call Center,192.085299,Sports Car,Medsize,A
6699,NJ46471,Oregon,8696.710700,No,Basic,Bachelor,1/4/11,Employed,F,56550,Rural,Married,73,22.0,41,3.0,2,Corporate Auto,Corporate L1,Offer3,Agent,162.775889,NaN,NaN,A
6743,ID89933,NaN,7255.577594,NaN,Extended,Doctor,1/9/11,Employed,F,39786,Urban,Married,91,NaN,91,NaN,9,Personal Auto,Personal L2,Offer1,Web,365.835977,NaN,NaN,NaN
6879,NL75739,Arizona,7590.050089,No,Basic,High School or Below,1/2/11,Disabled,M,10375,Suburban,Married,66,NaN,95,NaN,2,Personal Auto,Personal L3,Offer1,Branch,316.800000,Two-Door Car,Medsize,A
7533,BZ44726,NaN,16477.768430,NaN,Basic,High School or Below,2/26/11,Employed,F,49825,Suburban,Married,70,14.0,27,3.0,2,Corporate Auto,Corporate L3,Offer3,Agent,336.000000,Two-Door Car,Medsize,NaN
7764,DY22043,Oregon,5499.447223,No,Basic,High School or Below,1/28/11,Employed,F,88768,Suburban,Married,68,17.0,77,0.0,7,Personal Auto,Personal L3,Offer3,Branch,326.400000,NaN,NaN,NaN
7786,VK57280,NaN,4727.354548,NaN,Basic,Bachelor,1/3/11,Unemployed,M,0,Suburban,Single,72,23.0,7,0.0,3,Personal Auto,Personal L2,Offer2,Call Center,345.600000,Four-Door Car,Medsize,NaN
7796,PK26805,NaN,2810.957053,NaN,Basic,High School or Below,2/11/11,Employed,M,20371,Suburban,Married,71,19.0,14,1.0,1,Personal Auto,Personal L2,Offer4,Call Center,340.800000,Four-Door Car,Medsize,NaN
8509,HJ58678,Nevada,5418.152088,No,Basic,College,2/10/11,Employed,F,57587,Urban,Divorced,68,4.0,83,0.0,7,Personal Auto,Personal L2,Offer3,Agent,257.090387,NaN,NaN,NaN
8531,LH94971,Oregon,7057.888812,No,Extended,Bachelor,1/17/11,Employed,M,37840,Suburban,Married,90,31.0,9,0.0,4,Corporate Auto,Corporate L2,Offer2,Agent,432.000000,NaN,NaN,A
8680,NB57112,Oregon,8104.503269,No,Basic,Bachelor,2/22/11,Unemployed,F,0,Suburban,Single,117,24.0,8,1.0,6,Personal Auto,Personal L2,Offer2,Agent,842.400000,NaN,NaN,A
8827,BZ44726,NaN,16477.768430,NaN,Basic,High School or Below,2/26/11,Employed,F,49825,Suburban,Married,70,14.0,27,3.0,2,Corporate Auto,Corporate L3,Offer3,Agent,336.000000,Two-Door Car,Medsize,NaN
8847,EZ48093,NaN,2710.811423,NaN,Basic,Bachelor,2/9/11,Employed,M,31998,Suburban,Married,69,31.0,70,0.0,1,Corporate Auto,Corporate L3,Offer3,Branch,331.200000,Four-Door Car,Small,A
8891,VE98553,Oregon,4666.643522,No,Premium,Bachelor,2/28/11,Employed,M,60466,Suburban,Married,117,NaN,3,NaN,1,Personal Auto,Personal L3,Offer2,Agent,784.186389,Four-Door Car,Large,A
8926,NJ72300,Oregon,8009.028202,No,Basic,Bachelor,1/25/11,Unemployed,F,0,Suburban,Married,107,NaN,8,NaN,3,Personal Auto,Personal L3,Offer2,Web,740.963933,SUV,Small,A
9095,KB18303,NaN,8658.863813,NaN,Basic,College,2/7/11,Employed,M,62464,Urban,Married,109,23.0,45,0.0,4,Corporate Auto,Corporate L1,Offer2,Agent,400.181882,Sports Car,Medsize,NaN
9313,LD75023,Oregon,26346.085820,No,Extended,High School or Below,1/20/11,Employed,M,48268,Suburban,Divorced,223,28.0,26,0.0,2,Personal Auto,Personal L2,Offer1,Web,1605.600000,NaN,NaN,A
9432,ZB87718,Arizona,8714.922135,Yes,Basic,College,2/21/11,Unemployed,F,0,Suburban,Divorced,118,NaN,64,NaN,4,Personal Auto,Personal L1,Offer1,Agent,566.400000,SUV,Medsize,NaN
9943,FP86246,NaN,13211.010920,NaN,Premium,Bachelor,1/31/11,Employed,M,74656,Urban,Divorced,111,0.0,6,0.0,2,Personal Auto,Personal L2,Offer3,Call Center,504.365927,NaN,NaN,A
10006,IE40701,California,2877.354255,No,Basic,High School or Below,1/30/11,Employed,M,32807,Suburban,Married,73,10.0,10,0.0,1,Personal Auto,Personal L2,Offer2,Call Center,350.400000,NaN,NaN,A
10276,VA78645,California,2188.655055,No,Basic,College,1/9/11,Unemployed,M,0,Suburban,Single,67,29.0,49,1.0,1,Personal Auto,Personal L3,Offer3,Branch,321.600000,NaN,NaN,NaN
10499,VI66513,California,9688.334578,No,Extended,High School or Below,1/3/11,Employed,M,20009,Suburban,Single,87,NaN,86,NaN,2,Corporate Auto,Corporate L3,Offer2,Branch,987.122788,Four-Door Car,Small,A

37

Empty DataFrame
Columns: [customer, state, customer lifetime value, response, coverage, education, effective to date, employment status, gender, income, location code, marital status, monthly premium auto, months since last claim, months since policy inception, number of open complaints, number of policies, policy type, policy, renew offer type, sales channel, total claim amount, vehicle class, vehicle size, vehicle type]
Index: []

0

In [32]:
round(data.isna().sum()/len(data),4)*100  # shows the percentage of null values in a column
nulls_df = pd.DataFrame(round(data.isna().sum()/len(data),4)*100)
nulls_df = nulls_df.reset_index()
nulls_df.columns = ['header_name', 'percent_nulls']
nulls_df

                      header_name  percent_nulls
0                        customer           0.00
1                           state           5.65
2         customer lifetime value           0.00
3                        response           5.65
4                        coverage           0.00
5                       education           0.00
6               effective to date           0.00
7               employment status           0.00
8                          gender           0.00
9                          income           0.00
10                  location code           0.00
11                 marital status           0.00
12           monthly premium auto           0.00
13        months since last claim           5.73
14  months since policy inception           0.00
15      number of open complaints           5.73
16             number of policies           0.00
17                    policy type           0.00
18                         policy           0.00
19               renew offer type           0.00
20                  sales channel           0.00
21             total claim amount           0.00
22                  vehicle class           5.59
23                   vehicle size           5.59
24                   vehicle type          50.26

In [33]:
data["vehicle type"].value_counts(dropna=False)

NaN    5465
A      5408
Name: vehicle type, dtype: int64

In [34]:
data["state"].value_counts(dropna=False)

California    3548
Oregon        2897
Arizona       1934
Nevada         992
Washington     888
NaN            614
Name: state, dtype: int64

### deleting NaN rows in state (and response bcs they're in the same rows)

In [35]:
data = data.drop(labels = data[data['response'].isnull()].index.tolist(), axis = 0)

In [36]:
data.isna().sum()

customer                            0
state                               0
customer lifetime value             0
response                            0
coverage                            0
education                           0
effective to date                   0
employment status                   0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           582
months since policy inception       0
number of open complaints         582
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     579
vehicle size                      579
vehicle type                     5157
dtype: int64

### checking rows

In [37]:
na_claim = data[data['months since last claim'].isnull()].index.tolist()
na_complaints = data[data['number of open complaints'].isnull()].index.tolist()
for i in range(582):
    if na_claim[i] == na_complaints[i]:
        print(True)
    else:
        print(False)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [38]:
na_vehicle_class = data[data['vehicle class'].isnull()].index.tolist()
na_vehicle_size = data[data['vehicle size'].isnull()].index.tolist()
for i in range(579):
    if na_vehicle_class[i] == na_vehicle_size[i]:
        print(True)
    else:
        print(False)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [39]:
data["months since last claim"].value_counts(dropna=False)

NaN     582
3.0     401
6.0     381
1.0     364
7.0     354
4.0     353
2.0     348
5.0     331
0.0     329
10.0    323
16.0    318
11.0    316
15.0    303
8.0     297
13.0    295
12.0    289
17.0    283
14.0    280
19.0    263
9.0     263
23.0    261
25.0    253
21.0    250
20.0    246
18.0    244
22.0    231
29.0    222
24.0    221
28.0    209
26.0    202
31.0    201
27.0    193
30.0    192
33.0    188
34.0    185
35.0    148
32.0    140
Name: months since last claim, dtype: int64

In [40]:
data = data0
data

,customer,state,customer lifetime value,response,coverage,education,effective to date,employment status,gender,income,location code,marital status,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,7.0,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,3.0,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,34.0,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,10.0,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,Married,117,NaN,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,Suburban,Married,253,NaN,40,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,Urban,Married,65,7.0,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,Rural,Married,201,11.0,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,Urban,Divorced,158,0.0,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,Suburban,Single,101,31.0,1,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [41]:
data.isna().sum()

customer                            0
state                             631
customer lifetime value             0
response                          631
coverage                            0
education                           0
effective to date                   0
employment status                   0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           633
months since policy inception       0
number of open complaints         633
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     622
vehicle size                      622
vehicle type                     5482
dtype: int64

### deleting duplicates

In [42]:
duplicate = data[data.duplicated()]
display(duplicate)
print(len(duplicate))
data = data.drop_duplicates()
duplicate = data[data.duplicated()]
display(duplicate)
print(len(duplicate))

,customer,state,customer lifetime value,response,coverage,education,effective to date,employment status,gender,income,location code,marital status,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
1134,BV86143,NaN,21034.018150,NaN,Basic,High School or Below,2/23/11,Employed,F,26876,Urban,Married,66,12.0,53,0.0,2,Personal Auto,Personal L2,Offer4,Call Center,219.209762,Four-Door Car,Medsize,A
2799,YS94121,NaN,5645.396665,NaN,Basic,High School or Below,2/27/11,Employed,M,50366,Suburban,Divorced,72,9.0,5,0.0,9,Personal Auto,Personal L1,Offer1,Call Center,428.734656,Four-Door Car,Small,A
2805,BS34332,NaN,5557.934118,NaN,Basic,High School or Below,1/30/11,Employed,F,83576,Suburban,Married,69,35.0,72,0.0,5,Personal Auto,Personal L3,Offer3,Web,331.200000,Two-Door Car,Medsize,A
3590,GE63585,NaN,2420.711888,NaN,Basic,Bachelor,2/7/11,Employed,M,31710,Urban,Divorced,62,5.0,29,0.0,1,Corporate Auto,Corporate L3,Offer1,Call Center,199.551735,Two-Door Car,Medsize,NaN
3877,GU42671,Arizona,6106.941981,No,Extended,Bachelor,2/21/11,Medical Leave,F,16654,Suburban,Married,79,23.0,31,0.0,7,Personal Auto,Personal L3,Offer1,Branch,379.200000,NaN,NaN,A
4581,ID89933,Oregon,7255.577594,No,Extended,Doctor,1/9/11,Employed,F,39786,Urban,Married,91,NaN,91,NaN,9,Personal Auto,Personal L2,Offer1,Web,365.835977,NaN,NaN,NaN
4992,GS76685,California,10408.968650,Yes,Basic,High School or Below,2/18/11,Retired,M,20228,Suburban,Divorced,101,NaN,43,NaN,2,Corporate Auto,Corporate L3,Offer1,Branch,523.815839,SUV,Medsize,NaN
5734,AL78075,Oregon,3810.238281,No,Premium,High School or Below,2/13/11,Unemployed,M,0,Suburban,Single,108,7.0,57,0.0,1,Personal Auto,Personal L2,Offer2,Branch,777.600000,NaN,NaN,NaN
5863,OJ33945,Oregon,8692.636838,No,Basic,High School or Below,1/8/11,Employed,F,97768,Rural,Divorced,72,NaN,14,NaN,2,Personal Auto,Personal L1,Offer3,Agent,151.843731,Two-Door Car,Medsize,A
6068,EP64069,NaN,5138.244998,NaN,Basic,Bachelor,1/8/11,Employed,F,72264,Urban,Married,64,2.0,66,0.0,9,Corporate Auto,Corporate L3,Offer3,Web,272.649844,Four-Door Car,Medsize,NaN
6091,ID89933,Oregon,7255.577594,No,Extended,Doctor,1/9/11,Employed,F,39786,Urban,Married,91,2.0,91,1.0,9,Personal Auto,Personal L2,Offer1,Web,365.835977,NaN,NaN,A
6116,RB49468,NaN,7511.660568,NaN,Basic,Bachelor,1/20/11,Unemployed,F,0,Suburban,Single,70,9.0,96,0.0,2,Personal Auto,Personal L3,Offer1,Branch,340.201412,Four-Door Car,Medsize,NaN
6117,AM79057,NaN,2287.917290,NaN,Basic,Bachelor,2/18/11,Employed,F,69024,Urban,Married,61,27.0,32,5.0,1,Personal Auto,Personal L2,Offer2,Web,238.530745,Four-Door Car,Medsize,A
6315,GF70857,NaN,2933.960426,NaN,Extended,College,1/28/11,Unemployed,M,0,Rural,Married,83,2.0,62,0.0,1,Personal Auto,Personal L3,Offer2,Call Center,199.851201,Four-Door Car,Medsize,A
6410,NI17718,NaN,2150.178588,NaN,Basic,High School or Below,2/9/11,Unemployed,F,0,Suburban,Single,61,28.0,31,0.0,1,Personal Auto,Personal L3,Offer2,Web,292.800000,Four-Door Car,Medsize,NaN
6578,GM16780,Oregon,36057.537020,No,Extended,College,2/7/11,Employed,M,90330,Rural,Single,137,NaN,86,NaN,2,Corporate Auto,Corporate L3,Offer1,Call Center,192.085299,Sports Car,Medsize,A
6699,NJ46471,Oregon,8696.710700,No,Basic,Bachelor,1/4/11,Employed,F,56550,Rural,Married,73,22.0,41,3.0,2,Corporate Auto,Corporate L1,Offer3,Agent,162.775889,NaN,NaN,A
6743,ID89933,NaN,7255.577594,NaN,Extended,Doctor,1/9/11,Employed,F,39786,Urban,Married,91,NaN,91,NaN,9,Personal Auto,Personal L2,Offer1,Web,365.835977,NaN,NaN,NaN
6879,NL75739,Arizona,7590.050089,No,Basic,High School or Below,1/2/11,Disabled,M,10375,Suburban,Married,66,NaN,95,NaN,2,Personal Auto,Personal L3,Offer1,Branch,316.800000,Two-Door Car,Medsize,A
7533,BZ44726,NaN,16477.768430,NaN,Basic,High School or Below,2/26/11,Employed,F,49825,Suburban,Married,70,14.0,27,3.0,2,Corporate Auto,Corporate L3,Offer3,Agent,336.000000,Two-Door Car,Medsize,NaN
7764,DY22043,Oregon,5499.447223,No,Basic,High School or Below,1/28/11,Employed,F,88768,Suburban,Married,68,17.0,77,0.0,7,Personal Auto,Personal L3,Offer3,Branch,326.400000,NaN,NaN,NaN
7786,VK57280,NaN,4727.354548,NaN,Basic,Bachelor,1/3/11,Unemployed,M,0,Suburban,Single,72,23.0,7,0.0,3,Personal Auto,Personal L2,Offer2,Call Center,345.600000,Four-Door Car,Medsize,NaN
7796,PK26805,NaN,2810.957053,NaN,Basic,High School or Below,2/11/11,Employed,M,20371,Suburban,Married,71,19.0,14,1.0,1,Personal Auto,Personal L2,Offer4,Call Center,340.800000,Four-Door Car,Medsize,NaN
8509,HJ58678,Nevada,5418.152088,No,Basic,College,2/10/11,Employed,F,57587,Urban,Divorced,68,4.0,83,0.0,7,Personal Auto,Personal L2,Offer3,Agent,257.090387,NaN,NaN,NaN
8531,LH94971,Oregon,7057.888812,No,Extended,Bachelor,1/17/11,Employed,M,37840,Suburban,Married,90,31.0,9,0.0,4,Corporate Auto,Corporate L2,Offer2,Agent,432.000000,NaN,NaN,A
8680,NB57112,Oregon,8104.503269,No,Basic,Bachelor,2/22/11,Unemployed,F,0,Suburban,Single,117,24.0,8,1.0,6,Personal Auto,Personal L2,Offer2,Agent,842.400000,NaN,NaN,A
8827,BZ44726,NaN,16477.768430,NaN,Basic,High School or Below,2/26/11,Employed,F,49825,Suburban,Married,70,14.0,27,3.0,2,Corporate Auto,Corporate L3,Offer3,Agent,336.000000,Two-Door Car,Medsize,NaN
8847,EZ48093,NaN,2710.811423,NaN,Basic,Bachelor,2/9/11,Employed,M,31998,Suburban,Married,69,31.0,70,0.0,1,Corporate Auto,Corporate L3,Offer3,Branch,331.200000,Four-Door Car,Small,A
8891,VE98553,Oregon,4666.643522,No,Premium,Bachelor,2/28/11,Employed,M,60466,Suburban,Married,117,NaN,3,NaN,1,Personal Auto,Personal L3,Offer2,Agent,784.186389,Four-Door Car,Large,A
8926,NJ72300,Oregon,8009.028202,No,Basic,Bachelor,1/25/11,Unemployed,F,0,Suburban,Married,107,NaN,8,NaN,3,Personal Auto,Personal L3,Offer2,Web,740.963933,SUV,Small,A
9095,KB18303,NaN,8658.863813,NaN,Basic,College,2/7/11,Employed,M,62464,Urban,Married,109,23.0,45,0.0,4,Corporate Auto,Corporate L1,Offer2,Agent,400.181882,Sports Car,Medsize,NaN
9313,LD75023,Oregon,26346.085820,No,Extended,High School or Below,1/20/11,Employed,M,48268,Suburban,Divorced,223,28.0,26,0.0,2,Personal Auto,Personal L2,Offer1,Web,1605.600000,NaN,NaN,A
9432,ZB87718,Arizona,8714.922135,Yes,Basic,College,2/21/11,Unemployed,F,0,Suburban,Divorced,118,NaN,64,NaN,4,Personal Auto,Personal L1,Offer1,Agent,566.400000,SUV,Medsize,NaN
9943,FP86246,NaN,13211.010920,NaN,Premium,Bachelor,1/31/11,Employed,M,74656,Urban,Divorced,111,0.0,6,0.0,2,Personal Auto,Personal L2,Offer3,Call Center,504.365927,NaN,NaN,A
10006,IE40701,California,2877.354255,No,Basic,High School or Below,1/30/11,Employed,M,32807,Suburban,Married,73,10.0,10,0.0,1,Personal Auto,Personal L2,Offer2,Call Center,350.400000,NaN,NaN,A
10276,VA78645,California,2188.655055,No,Basic,College,1/9/11,Unemployed,M,0,Suburban,Single,67,29.0,49,1.0,1,Personal Auto,Personal L3,Offer3,Branch,321.600000,NaN,NaN,NaN
10499,VI66513,California,9688.334578,No,Extended,High School or Below,1/3/11,Employed,M,20009,Suburban,Single,87,NaN,86,NaN,2,Corporate Auto,Corporate L3,Offer2,Branch,987.122788,Four-Door Car,Small,A

37

Empty DataFrame
Columns: [customer, state, customer lifetime value, response, coverage, education, effective to date, employment status, gender, income, location code, marital status, monthly premium auto, months since last claim, months since policy inception, number of open complaints, number of policies, policy type, policy, renew offer type, sales channel, total claim amount, vehicle class, vehicle size, vehicle type]
Index: []

0

In [43]:
data.isna().sum()

customer                            0
state                             614
customer lifetime value             0
response                          614
coverage                            0
education                           0
effective to date                   0
employment status                   0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           623
months since policy inception       0
number of open complaints         623
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     608
vehicle size                      608
vehicle type                     5465
dtype: int64

In [44]:
data = data.drop(labels = data[data['months since last claim'].isnull()].index.tolist(), axis = 0)

In [ ]:
#data1['state'] = data1['state'].fillna('CA')

In [45]:
data.isna().sum()

customer                            0
state                             573
customer lifetime value             0
response                          573
coverage                            0
education                           0
effective to date                   0
employment status                   0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim             0
months since policy inception       0
number of open complaints           0
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     568
vehicle size                      568
vehicle type                     5154
dtype: int64

In [46]:
data = data.drop(labels = data[data['state'].isnull()].index.tolist(), axis = 0)

In [47]:
data.isna().sum()

customer                            0
state                               0
customer lifetime value             0
response                            0
coverage                            0
education                           0
effective to date                   0
employment status                   0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim             0
months since policy inception       0
number of open complaints           0
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     543
vehicle size                      543
vehicle type                     4861
dtype: int64

In [48]:
data = data.drop(labels = data[data['vehicle class'].isnull()].index.tolist(), axis = 0)

In [49]:
data.isna().sum()

customer                            0
state                               0
customer lifetime value             0
response                            0
coverage                            0
education                           0
effective to date                   0
employment status                   0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim             0
months since policy inception       0
number of open complaints           0
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                       0
vehicle size                        0
vehicle type                     4591
dtype: int64

In [73]:
# restore the dropped NaN values (rows) from state and response
# replace NaN in state with most frequent state
# replace NaN in response with ??? (median)

# replace NaN in months since last claim with the average of that column
# replace NaN in number of open complaints with 0.0 (the median)

In [50]:
data['month'] = pd.DatetimeIndex(data['effective to date']).month

In [56]:
data["month"].unique()

array([2, 1], dtype=int64)

In [57]:
data

,customer,state,customer lifetime value,response,coverage,education,effective to date,employment status,gender,income,location code,marital status,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,7.0,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN,2
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,3.0,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,34.0,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,10.0,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
6,IW72280,California,5035.035257,No,Basic,Doctor,2/14/11,Employed,F,37405,Urban,Married,63,8.0,99,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10903,SU71163,Arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,59855,Suburban,Married,74,30.0,82,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A,1
10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2/24/11,Unemployed,M,0,Suburban,Single,187,14.0,32,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A,2
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,Urban,Married,65,7.0,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,Rural,Married,201,11.0,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN,2
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,Urban,Divorced,158,0.0,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2

In [ ]:
#data1['state'] = data1['state'].fillna('CA')

# ::::: now round 3 :::::

In [ ]:
# dataframe info

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9134 entries, 0 to 10908
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       9134 non-null   object
 1   state                          9134 non-null   object
 2   customer lifetime value        9134 non-null   float64
 3   response                       9134 non-null   object
 4   coverage                       9134 non-null   object
 5   education                      9134 non-null   object
 6   effective to date              9134 non-null   object
 7   employment status              9134 non-null   object
 8   gender                         9134 non-null   object
 9   income                         9134 non-null   int64
 10  location code                  9134 non-null   object
 11  marital status                 9134 non-null   object
 12  monthly premium auto           9134 non-null   int64
 13  months since last claim        9134 non-null   float64
 14  months since policy inception  9134 non-null   int64
 15  number of open complaints      9134 non-null   float64
 16  number of policies             9134 non-null   int64
 17  policy type                    9134 non-null   object
 18  policy                         9134 non-null   object
 19  renew offer type               9134 non-null   object
 20  sales channel                  9134 non-null   object
 21  total claim amount             9134 non-null   float64
 22  vehicle class                  9134 non-null   object
 23  vehicle size                   9134 non-null   object
 24  vehicle type                   4543 non-null   object
 25  month                          9134 non-null   int64
dtypes: float64(4), int64(5), object(17)
memory usage: 1.9+ MB

In [60]:
# describe the data
data.describe()

,customer lifetime value,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount,month
count,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000
mean,8004.940475,37657.380009,93.219291,15.097000,48.064594,0.384388,2.966170,434.088794,1.463762
std,6870.967608,30379.904734,34.407967,10.073257,27.905991,0.910384,2.390182,290.500092,0.498712
min,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.099007,1.000000
25%,3994.251794,0.000000,68.000000,6.000000,24.000000,0.000000,1.000000,272.258244,1.000000
50%,5780.182197,33889.500000,83.000000,14.000000,48.000000,0.000000,2.000000,383.945434,1.000000
75%,8962.167041,62320.000000,109.000000,23.000000,71.000000,0.000000,4.000000,547.514839,2.000000
max,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,2893.239678,2.000000

In [61]:
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

ModuleNotFoundError: No module named 'seaborn'